<header class="header" [ngClass]="{ dark: isDark }">
  <h1 class="title">Bienvenidos a mi web</h1>

  @if (isDark) {
  <h2><span class="btn-dark" (click)="toggleDark()">🌞</span></h2>
  } @else {
  <h2><span class="btn-dark" (click)="toggleDark()">🌙</span></h2>
  }

  <app-greetings></app-greetings>
  <nav class="navbar">
    <ul class="nav-list">
      <li><a class="link" href="#">Home</a></li>
      <li><a class="link" href="#">Blog</a></li>
      <li><a class="link" href="#">News</a></li>
      <li><a class="link" href="#">Contact Us</a></li>
    </ul>
  </nav>
</header>
