.header {
  background-color: blue;
  color: white;
  text-align: center;
}

.dark {
  background-color: black;
}

.btn-dark {
  cursor: pointer;
}

.navbar {
  .nav-list {
    display: flex;
    justify-content: space-around;

    .link {
      color: white;
    }
  }
}