<app-header></app-header>

<app-country
  [myCountry]="countryVariable"
  (sendMsg)="showMsg($event)"
></app-country>
<app-country myCountry="Francia" (sendMsg)="showMsg($event)"></app-country>

<!-- <app-person></app-person> -->

<app-user-form (login)="login($event)"></app-user-form>

<label for="show-products">Mostrar Productos</label>
<input
  type="checkbox"
  name="show-products"
  id="show-products"
  [(ngModel)]="showProducts"
/>
@if (showProducts) {
<app-product-list></app-product-list>
}
